:root {
  --primary-color: rgba(0, 172, 220, 1);
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  margin-left: 50px;
}

.header__logo {
  display: block;
}

.nav {
  display: flex;
  margin-right: 50px;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav__link:hover {
  color: var(--primary-color);
}

.nav__link.is-active {
  position: relative;
  color: var(--primary-color);
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: var(--primary-color);
  border-radius: 10px;
}
